.aboutMeWrap {
  background-color: #222;
  color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.aboutMeWrap .backgroundVideo {
  padding-left: 45rem;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 700px;
}
.aboutMeWrap .bannerWrap {
  margin-top: 5rem;
  background-color: transparent;
  backdrop-filter: blur(2px);
  width: 100%;
  height: 700px;
  border-bottom: 2px solid #333;
}
.aboutMeWrap .bannerWrap > div {
  padding: 5rem 10rem 1rem 10rem;
}
.aboutMeWrap .bannerWrap .titleWrap {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.aboutMeWrap .bannerWrap .titleWrap > div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.aboutMeWrap .bannerWrap .titleWrap > div .verticalBar {
  width: 8px;
  height: 40px;
  margin-top: 6px;
  background-color: #FF9843;
  border-radius: 2px;
}
.aboutMeWrap .bannerWrap .titleWrap > div h1 {
  font-size: 64px;
}
.aboutMeWrap .bannerWrap .titleWrap ul {
  display: flex;
  gap: 36px;
  color: #808080;
  font-weight: 600;
}
.aboutMeWrap .bannerWrap .btnWrap {
  margin-bottom: 10rem;
}
.aboutMeWrap .bannerWrap .btnWrap button {
  width: 180px;
  height: 60px;
  border-radius: 10px;
  background-color: #3468C0;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}
.aboutMeWrap .bannerWrap p {
  margin-bottom: 2rem;
  max-width: 700px;
  font-size: 16px;
  line-height: 1.5;
  color: #ccc;
}
.aboutMeWrap .bannerWrap p .accentFont {
  font-size: 32px;
  color: #fff;
}
.aboutMeWrap .bannerWrap .skillIconWrap {
  display: flex;
  gap: 12px;
}
.aboutMeWrap .bannerWrap .skillIconWrap li {
  max-width: 50px;
}
.aboutMeWrap .bannerWrap .skillIconWrap li img {
  fill: #fff;
}
.aboutMeWrap .induce {
  width: 8px;
  height: 50px;
  background-color: #444;
  margin: auto;
  margin-top: 5rem;
}
.aboutMeWrap .induce span {
  display: block;
  width: 100%;
  height: 5px;
  background-color: #FF9843;
}
.aboutMeWrap .faithWrap {
  margin: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.aboutMeWrap .faithWrap > p {
  margin-left: 63px;
  font-size: 40px;
}
.aboutMeWrap .faithWrap > div {
  display: flex;
  gap: 86px;
}
.aboutMeWrap .faithWrap > div .faithLeft {
  width: 528px;
  height: 700px;
  margin-left: 63px;
  align-content: center;
}
.aboutMeWrap .faithWrap > div .faithLeft figure {
  max-width: 480px;
  border-radius: 30px;
  overflow: hidden;
}
.aboutMeWrap .faithWrap > div .faithLeft p {
  color: #808080;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 24px;
}
.aboutMeWrap .faithWrap > div .faithRight {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}
.aboutMeWrap .faithWrap > div .faithRight .title {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 3rem;
}
.aboutMeWrap .faithWrap > div .faithRight .title > p {
  font-size: 40px;
}
.aboutMeWrap .faithWrap > div .faithRight .title ul {
  display: flex;
  gap: 12px;
  font-size: 16px;
  color: #808080;
  align-items: center;
}
.aboutMeWrap .faithWrap > div .faithRight .title ul .star {
  color: #FF9843;
  font-size: 12px;
}
.aboutMeWrap .faithWrap > div .faithRight .title ul li span {
  display: block;
  border: 1px solid #808080;
  padding: 0.5rem;
}
.aboutMeWrap .faithWrap > div .faithRight .btnWrap {
  display: flex;
  gap: 12px;
}
.aboutMeWrap .faithWrap > div .faithRight .btnWrap button {
  padding: 1rem 4rem;
  background-color: #3468C0;
  border: none;
  color: #fff;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
}
.aboutMeWrap .faithWrap > div .faithRight .explain {
  height: 100%;
  margin-top: 8rem;
  font-size: 20px;
  line-height: 1.5;
  color: #aaa;
}
.aboutMeWrap .faithWrap > div .faithRight .mobileExplain {
  display: none;
}

@media (max-width: 1599px) {
  .aboutMeWrap .faithWrap > p {
    font-size: 32px;
  }
  .aboutMeWrap .faithWrap > div .faithLeft {
    width: 250px;
    height: 350px;
    align-self: center;
  }
  .aboutMeWrap .faithWrap > div .faithLeft p {
    font-size: 16px;
  }
  .aboutMeWrap .faithWrap > div .faithLeft figure img {
    max-width: 250px !important;
  }
  .aboutMeWrap .faithWrap > div .faithRight {
    width: 600px;
  }
  .aboutMeWrap .faithWrap > div .faithRight .title > p {
    font-size: 32px;
  }
  .aboutMeWrap .faithWrap > div .faithRight .explain {
    margin-top: 0;
    font-size: 16px;
  }
  .aboutMeWrap .faithWrap > div .faithRight .btnWrap button {
    padding: 1rem 2rem;
  }
}
@media (max-width: 1279px) {
  .aboutMeWrap .backgroundVideo {
    padding-left: 30rem;
  }
  .aboutMeWrap .bannerWrap > div {
    padding: 2rem;
    padding-top: 7rem;
  }
  .aboutMeWrap .bannerWrap .skillIconWrap {
    bottom: 1rem;
  }
  .aboutMeWrap .bannerWrap .skillIconWrap li {
    max-width: 40px;
  }
  .aboutMeWrap .faithWrap {
    margin: 5rem 2rem;
  }
  .aboutMeWrap .faithWrap > p {
    font-size: 24px;
  }
  .aboutMeWrap .faithWrap > div .faithRight {
    max-width: 100%;
  }
  .aboutMeWrap .faithWrap > div .faithRight .title p {
    font-size: 24px;
  }
  .aboutMeWrap .faithWrap > div .faithRight .title ul {
    display: none;
  }
}
@media (max-width: 767px) {
  .aboutMeWrap {
    padding-bottom: 5rem;
  }
  .aboutMeWrap .backgroundVideo {
    padding-left: unset;
    padding-top: 6rem;
    height: 350px;
  }
  .aboutMeWrap .bannerWrap {
    height: 350px;
  }
  .aboutMeWrap .bannerWrap > div {
    padding: 1rem;
  }
  .aboutMeWrap .bannerWrap .titleWrap {
    margin-bottom: 1rem;
  }
  .aboutMeWrap .bannerWrap .titleWrap > div .verticalBar {
    height: 24px;
    width: 6px;
    margin-top: -1px;
  }
  .aboutMeWrap .bannerWrap .titleWrap > div h1 {
    font-size: 32px;
  }
  .aboutMeWrap .bannerWrap .titleWrap ul {
    gap: 12px;
    font-size: 14px;
  }
  .aboutMeWrap .bannerWrap .btnWrap {
    margin-bottom: 1rem;
  }
  .aboutMeWrap .bannerWrap .btnWrap button {
    width: 150px;
    height: 40px;
  }
  .aboutMeWrap .bannerWrap p {
    margin-top: 15rem;
  }
  .aboutMeWrap .bannerWrap .skillIconWrap {
    display: none;
  }
  .aboutMeWrap .induce {
    display: none;
  }
  .aboutMeWrap .faithWrap {
    margin: 1rem;
    padding-top: 15rem;
  }
  .aboutMeWrap .faithWrap .mobileBar {
    width: 100%;
    height: 1px;
    background-color: #333;
  }
  .aboutMeWrap .faithWrap > div {
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
  }
  .aboutMeWrap .faithWrap > div .faithLeft {
    width: auto;
    margin: unset;
  }
  .aboutMeWrap .faithWrap > div .faithRight {
    align-items: center;
    gap: 2rem;
  }
  .aboutMeWrap .faithWrap > div .faithRight .title {
    margin-top: unset;
    margin-right: auto;
  }
  .aboutMeWrap .faithWrap > div .faithRight .btnWrap {
    margin-right: auto;
  }
  .aboutMeWrap .faithWrap > div .faithRight .explain {
    display: none;
  }
  .aboutMeWrap .faithWrap > div .faithRight .mobileExplain {
    display: block;
    text-align: left;
    font-size: 16px;
    line-height: 2;
    color: #aaa;
  }
  .aboutMeWrap .faithWrap > p {
    margin: unset;
    margin-top: 2rem;
  }
}

/*# sourceMappingURL=aboutMe.css.map */
